<!DOCTYPE html>
html(lang="en")
    head
        include ./common/head
    body
        include ./blocks/header/header.jade

        include ./common/typography.jade
        
        include ./blocks/footer/footer.jade

        script(src="./js/app.min.js")
