// Devices
//----------------------------------------------------------------------
$desktop: 1024px;
$tablet: 768px;
$phone: 320px;

// Sizes
//----------------------------------------------------------------------
$global-gutter: 20px;
$font-size: 16px;

// Fonts
//----------------------------------------------------------------------
$font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$font-family-secondary: 'Trebuchet MS', Helvetica, sans-serif;

// Colors
//----------------------------------------------------------------------
$color-primary: black;
$color-secondary: gray;
$color-border: $color-secondary;
