// Inside and outside block spaces
// @include space($padding: null, $padding-top: null, $padding-right: null, $padding-bottom: null, $padding-left: null, $margin: null, $margin-top: null, $margin-right: null, $margin-bottom: null, $margin-left: null, $border: null, $border-top: null, $border-right: null, $border-bottom: null, $border-left: null);
//----------------------------------------------------------------------
@mixin space (
        $padding: null,
        $padding-top: null,
        $padding-right: null,
        $padding-bottom: null,
        $padding-left: null,
        $margin: null,
        $margin-top: null,
        $margin-right: null,
        $margin-bottom: null,
        $margin-left: null,
        $border: null,
        $border-top: null,
        $border-right: null,
        $border-bottom: null,
        $border-left: null
    ) {

    // Border
    //----------------------------------------------------------------------
    @if $border and length($border) == 3 {
        border:nth($border, 1) nth($border, 2) nth($border, 3);
    } @else if $border and length($border) == 2 {
        border:nth($border, 1) solid nth($border, 2);
    } @else {
        border: $border;
    }

    @if $border-top and length($border-top) == 3 {
        border-top:nth($border-top, 1) nth($border-top, 2) nth($border-top, 3);
    }
    @if $border-right and length($border-right) == 3 {
        border-right:nth($border-right, 1) nth($border-right, 2) nth($border-right, 3);
    }
    @if $border-bottom and length($border-bottom) == 3 {
        border-bottom:nth($border-bottom, 1) nth($border-bottom, 2) nth($border-bottom, 3);
    }
    @if $border-left and length($border-left) == 3 {
        border-left:nth($border-left, 1) nth($border-left, 2) nth($border-left, 3);
    }

    // Margin
    //----------------------------------------------------------------------
    @if $margin {
        @if length($margin) == 1 and $margin != auto {
            margin:nth($margin, 1);
        } @else if length($margin) == 2 and $margin != auto {
            margin:nth($margin, 1) nth($margin, 2);
        } @else if length($margin) == 3 and $margin != auto {
            margin:nth($margin, 1) nth($margin, 2) nth($margin, 3);
        } @else if length($margin) == 4 and $margin != auto {
            margin:nth($margin, 1) nth($margin, 2) nth($margin, 3) nth($margin, 4);
        } @else if $margin == auto {
            margin: auto;
        }
    }

    @if $margin-top {
        margin-top: $margin-top;
    }

    @if $margin-right {
        margin-right: $margin-right;
    }

    @if $margin-bottom {
        margin-bottom: $margin-bottom;
    }

    @if $margin-left {
        margin-left: $margin-left;
    }

    // Padding
    //----------------------------------------------------------------------
    @if $padding {
        @if length($padding) == 1 {
            padding:nth($padding, 1);
        } @else if length($padding) == 2 {
            padding:nth($padding, 1) nth($padding, 2);
        } @else if length($padding) == 3 {
            padding:nth($padding, 1) nth($padding, 2) nth($padding, 3);
        } @else {
            padding:nth($padding, 1) nth($padding, 2) nth($padding, 3) nth($padding, 4);
        }
    }

    @if $padding-top {
        padding-top: $padding-top;
    }
    @if $padding-right {
        padding-right: $padding-right;
    }
    @if $padding-bottom {
        padding-bottom: $padding-bottom;
    }
    @if $padding-left {
        padding-left: $padding-left;
    }
}
